<div class="card bg-dark text-white">
  <div class="card-header"><h5>Create new Booking</h5></div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Id</label>
          <input
            formControlName="id"
            class="form-control"
            type="number"
            name="Id"
          />
        </div>
        <div class="col">
          <label class="form-label">Room Number</label>
          <input
            formControlName="roomNumber"
            class="form-control"
            type="number"
            name="roomNumber"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Guest Name</label>
          <input
          formControlName="name"
          class="form-control" name="Name" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-4">
        <div *ngIf="bookingForm.get('name')?.hasError('minlength')" class="text-danger">*Der Name ist kurz</div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Start Date</label>
          <input
            [value]="booking.startDate | date: 'yyyy-MM-dd'"
            class="form-control"
            type="date"
            name="StartDate"
            formControlName="startDate"
            (input)="dateChanged($event, true)"
          />
        </div>
        <div class="col">
          <label class="form-label">End Date</label>
          <input
            [value]="booking.endDate | date: 'yyyy-MM-dd'"
            class="form-control"
            type="date"
            name="EndDate"
            formControlName="endDate"
            (input)="dateChanged($event, false)"
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button [disabled]="bookingForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
